
<div class="container">
  <div class="row justify-content-center mt-1">
    <div class="container col col-md-6">
      <div class="card card-primary">
        <div class="card-header bg-primary text-light"><h5>Create your Workout</h5></div>
          <div class="card-body bg-light">
              <div class="create-workout text-start p-2">
                <form class="form workout-form">
                  <div class="row workouts justify-content-center">
                    <div class="p-2 mx-5">
                      <ul class="list-group" id="exercise_selected">
                      </ul>
                    </div>
                  </div>
                  <div class="row dates">
                    <div class="col col-md-6">
                      <label for="startDt">Start Date:</label>
                      <input type="date" id="startDt" name="startDt" class="myDates">
                    </div>
                    <div class="col col-md-6">
                      <label for="endDt">End Date:</label>
                      <input type="date" id="endDt" name="endDt" class="myDates">
                    </div> 
                  </div>
                  <div class="d-grid mt-5">
                    <button class="btn btn-primary" type="submit" id="btnWorkout">Create</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
    </div>

    <h4 class="mt-2 text-center">Exercises</h4>
    <div class="accordion accordion-flush col col-md-7 overflow-auto" id="exercise_accordion">
      {{#each categories as |category|}}
        <div class="accordion-item category{{id}}">
          <h2 class="accordion-header" id={{id}}>
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#category{{id}}" aria-expanded="false" aria-controls="category{{id}}">
               <span class="badge rounded-pill bg-primary me-5">{{total}}</span>{{name}} 
            </button>
          </h2>

          <div id="category{{id}}" class="accordion-collapse collapse" aria-labelledby="{{id}}" data-bs-parent="#exercise_accordion">
            <div class="accordion-body" id="exercise-list">
              {{#each exercises as |exercise|}}
                <ul class="list-group">
                  <li class="list-group-item lh-sm">
                    <input type="checkbox" id="check{{exercise.id}}" class="form-check-input me-1" value={{exercise.name}} data-id={{exercise.id}}>
                    <label for="check{{exercise.id}}" class="form-check-label">
                      <h4 id="heading{{exercise.id}}">{{exercise.name}}</h4>
                    </label>
                    {{{exercise.description}}}
                    {{#if exercise.gif_image}}
                      <div class="exercise-image">
                         <img src="./images/{{gif_image}}" alt="{{name}}" class="gifImage img-fluid float-end">
                      </div>
                    {{/if}}
                  </li>
                </ul>
              {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>  
</div>
<script src="./js/exercise.js"></script>

